.navbar-brand:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.nav-link-hover {
  position: relative;
  transition: color 0.3s ease;
}

.nav-link-hover::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transition: width 0.3s ease;
}

.nav-link-hover:hover::after {
  width: 100%;
}
